@import "./../../scss/variables";

.landing {
  color: $color-primary;
  text-align: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
  box-sizing: border-box;

  img {
    height: 100px;
  }

  .labeled-hr {
    margin-bottom: 2em;
  }

  .wrap-inputs {
    min-width: 400px;
    max-width: 100%;

    input {
      width: 100%;
      box-sizing: border-box;
      padding: 1em;
      background-color: $color-secondary;
      font-weight: bold;
      border-radius: $default-border-radius;
      border: none;
      font-size: 1.1em;
      outline: none;

      &::placeholder {
        color: $color-secondary-text;
      }
    }

    .wrap-difficulty {
      display: flex;
      margin: 1em 0;

      div {
        flex: 1;
        padding: 1em;
        background-color: rgba($color-secondary, 0.6);
        color: $color-secondary-text;
        border-radius: $default-border-radius;
        font-weight: bold;
        text-align: center;
        user-select: none;
        cursor: pointer;
        transition: background-color, transform 0.2s;

        &:hover {
          background-color: rgba($color-secondary, 1);
          transform: scale(0.9);
        }

        &:nth-child(2) {
          margin: 0 1em;
        }

        &.active {
          background-color: rgba($color-secondary, 1);
        }

        img {
          height: 40px;
          object-fit: contain;
          margin-bottom: 0.5em;
        }
      }
    }
  }

  .btn-play {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 1em;
    cursor: pointer;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.1);
    }

    img {
      height: 30px;
      object-fit: contain;
      margin-right: 0.8em;
    }
  }
}
