body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(./../images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.labeled-hr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.labeled-hr div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 1px;
  background-color: #f04f53;
  margin: 0 1em;
}

.labeled-hr span {
  text-transform: uppercase;
  font-weight: bold;
}

.landing {
  color: #f04f53;
  text-align: center;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.landing img {
  height: 100px;
}

.landing .labeled-hr {
  margin-bottom: 2em;
}

.landing .wrap-inputs {
  width: 400px;
  max-width: 100%;
}

.landing .wrap-inputs input {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1em;
  background-color: #97a4a7;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  font-size: 1.1em;
  outline: none;
}

.landing .wrap-inputs input::-webkit-input-placeholder {
  color: #032228;
}

.landing .wrap-inputs input:-ms-input-placeholder {
  color: #032228;
}

.landing .wrap-inputs input::-ms-input-placeholder {
  color: #032228;
}

.landing .wrap-inputs input::placeholder {
  color: #032228;
}
